@font-face {
	font-family:'wealth';
	src: url('KozMinP0.otf');
}
@font-face {
	font-family:'wealth_fat';
	src: url('KozMinP4.otf');
}
body {
	margin:0 auto;
	font-family: wealth,微軟正黑體;
}
.wrapper {
	width:1000px;
	margin:auto;
}
.wrapper_2 {
	width:1200px;
	margin:auto;
}
/*header*/
	.header {
		position:relative;
		width:1000px;
		height:180px;
		margin:auto;
	}
	.logo {
		position:absolute;
		margin-top:20px;
		width:330px;
	}
	.logo a img{
		max-width:100%;
		height:auto;
	}

	.car1{
		position:relative;
		margin-left:880px;
		margin-top:56px;
		display:inline-block;	
		
		}
	.img-shadow {
		position:absolute;
		display:none;
		z-index:1;
		top: 0;
        left: 0;
	}
	.car1:hover .img-shadow {
		display:inline-block;
	}
	.mobile-on {
		display:none;
	}
	.tel {
		position:absolute;
		margin-left:600px;
		margin-top:65px;
		color:#32302F;
		font-size:1.3rem;
	}
	.tel span i {
		font-size:1.2rem;
		padding-right:10px;
	}
	
/*main*/

.main_fluid {
	background: url('../images/images/wealth_.jpg') center center no-repeat;
	background-size:cover;
	height:500px;
}
.main {
	padding-top:100px;
}
.main p {
	color:#fff;
	text-align:center;
	font-size:1.2rem;
	text-shadow: black 0.1em 0.1em 0.2em
}

/*article*/

.article {
	width:1000px;
	height:300px;
	display:flex;
	justify-content:center;
	margin-top:80px;
}

.benefit {
	width:280px;
	height:200px;
	padding-left:30px;
}
.benefit .block {
	background-color:#DDD488;
	width:280px;
	height:200px;
}
.benefit .block:hover {
	margin-top:18px;
	border:solid #DDD488 1px;
	background-color:#fff;
	width:280px;
	height:200px;
	transition:background-color 0.6s;
}

.benefit h4 {
	font-family:wealth_fat,微軟正黑體;
	font-size:18px;
	margin:20px 0 0 0;
	text-align:center;
}
.line {
	width:150px;
	height:2px;
	border-top: solid #DDD488 2px;
	text-align:center;
	margin-left:65px;
}
.benefit div p {
	padding:30px 20px 15px 20px;	
}

/*footer*/

.footer {
	margin-top:120px;
	background-color:#B7AE63;
}
.footer_info {
	padding:20px 0;
}
.cor span a{
	text-decoration:none;
	color:#49473E;
}
.cor span a:hover{
	text-decoration:none;
	color:#1C1818;
	transition:color 0.3s;
}
